:root {
    --palette-color-1: #264653;
    --palette-color-2: #2A9D8F;
    --palette-color-3: #14213d;
    --palette-color-4: #000000; 
    --palette-color-5: black;
}

body {
    background: linear-gradient(var(--palette-color-3), var(--palette-color-4));
}

header {
    background-color: white;
}

to-header {
    --theme-color-1: var(--palette-color-1);
    --theme-color-2: var(--palette-color-2);
}

footer {
    background-color: var(--palette-color-5);
}

to-footer {
    --theme-color: var(--palette-color-5);
}